doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title forgot
    body 
      form(action="/user/forgotconfirm", method="post")
          input(type="hidden", name="id",value=id)
          input(type="text",name="old",placeholder="old password")
          input(type="text",name="newp",placeholder="new password")
          button(type="submit",value="submit")  